@font-face {
    font-family: 'cocogoosecompressedthin';
    src: url('../../assets/fonts/cocogoosecompressed-thin-webfont.eot');
    src: url('../../assets/fonts/cocogoosecompressed-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/cocogoosecompressed-thin-webfont.woff2') format('woff2'),
         url('../../assets/fonts/cocogoosecompressed-thin-webfont.woff') format('woff'),
         url('../../assets/fonts/cocogoosecompressed-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cocogoosecompressedsemi_light';
    src: url('../../assets/fonts/cocogoosecompressed-semilight-webfont.eot');
    src: url('../../assets/fonts/cocogoosecompressed-semilight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/cocogoosecompressed-semilight-webfont.woff2') format('woff2'),
         url('../../assets/fonts/cocogoosecompressed-semilight-webfont.woff') format('woff'),
         url('../../assets/fonts/cocogoosecompressed-semilight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

*{
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 15px;
}

body {
  font-family: 'cocogoosecompressedsemi_light';
  font-size: 100%;
  background-color: #dcdcdc;
}

/* --------------- Resets */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.title-1:not(:last-child) {
  margin-bottom: 2vh;
}
.title-2 {
  margin-bottom: 2vh;
  color: #74911d;
  text-transform: uppercase;
}
.title-3 {
  margin-bottom: 2vh;
}

p {
  font-family: 'Lato light';
  line-height: 1.4em;
  margin-bottom: 2vh;
  font-size: 1.4rem;
}

main {
  padding-top: 7vh;
}
