.intro_pw {
  height: auto;
  align-items: center;
  text-align: center;
  padding-top: 4vh;

h2 {
  padding: 2vh;
  font-size: 3rem;
  opacity: .2;
  text-align: center;
}

p {
margin: 10vh;
}

}

.part-question {
  margin-left :4vw;
  margin-bottom: 5vh;
}
